<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="description" content={{description}}>
    <meta name="keywords" content={{keywords}}>
    <meta name="author" content={{author}}>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- build:sdk -->
    <!-- endbuild -->
</head>

<body>
    <div class="wrapper">
        {{> test className="hello" title="h2"}}
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>