//devices
$desctop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$small-phones: 375px;
//colors
$grey: #ccc;
$white: #f5f5f5;
//base
$container: 1170px;
$base-font: "Roboto", sans-serif;
$base-size: 35px;
$base-color: $grey;
$base-bg: $white;
